body {
    height: 768px; 
    width: 480px;
    margin: auto;
}

div {
    text-align: center;
    vertical-align: middle;
    color: white;
}

section {
    height: 80%;
    width: 80%;
    margin: auto;
}


#a {
    height: 9.7%;
    background: blue;
}

#b {
    height: 9.7%;
    background: red;
}


#c {
    height: 9.7%;
    background: purple;
}


#d {
    height: 9.7%;
    background: green;
}

#e {
    height: 31%;
    width: 50%;
    float: left;
    background: yellow;
}

#f {
    height: 31%;
    width: 50%;
    float: right;
    background: black;
}

#g {
    height: 31%;
    width: 50%;
    float: left;
    background: teal;
}

#h {
    height: 31%;
    width: 50%;
    float: right;
    background: fuchsia;
}

#i {
    height: 9.7%;
    background: orange;
    display: block;
    clear: both;
}

/* Desktops */
@media all and (min-width: 768px){

    body {
        height: 700px; 
        width: 960px;
        margin: auto;
    }

    section {
        height: 100%;
        width: 100%;
        margin: 10% auto;
    }
    
    div {
        text-align: center;
        vertical-align: middle;
        color: white;
    }


    #a {
        height: 14.3;
        background: blue;
    }
    
    #b {
        float: left;
        height: 85.7%;
        width: 20.8%;
        background: red;
    }
    
    
    #c {
        height: 28.6%;
        width: 39.6%; 
        float: left;
        background: purple;
    }
    
    
    #d {
        height: 28.6%;
        width: 39.6%;
        float: left;
        background: green;
    }
    
    #e {
        height: 35.7%;
        width: 19.8%;
        float: left;
        background: yellow;
    }
    
    #f {
        height: 35.7%;
        width: 50%;
        width: 19.8%;
        float: left;
        background: black;
    }
    
    #g {
        height: 35.7%;
        width: 19.8%;
        float: left;
        background: teal;
    }
    
    #h {
        height: 35.7%;
        width: 19.8%;
        float: left;
        background: fuchsia;
    }
    
    #i {
        height: 21.4%;
        width: 79.1%;
        background: orange;
        clear: none;
        float: left;
    }



}